input{
    width:80%;
    font-size: 1em;
  }
  button,select {
    width:80%;
    font-size: 1em;
  }
  
  button {
    border: none;
    background-color: #333;
    color: #EEE;
    padding: 0.5rem;
  }
  
  input,select {
    border: 1px solid #AAA;
    padding: 0.5rem;
  }
  